.admin-store-wrap {
  width: 100%;
}

.admin-store-title-wrap {
  width: 100%;
  padding: 30px;
  height: 100px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  line-height: 40px;
}

.admin-store-title-wrap > * {
  font-size: 32px;
  font-weight: 800;
}

.admin-store-content-wrap {
  width: 100%;
}

.admin-store-list-wrap {
  min-width: 900px;
  width: 70%;
  margin: 0 auto;
}

.admin-store-list-menu {
  display: flex;
  margin: 30px 0 0 30px;
  border-bottom: 1px solid var(--font3);
  align-items: center;
}
.admin-store-menu {
  border: 1px solid var(--font3);
  border-bottom: none;
  width: 120px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.admin-store-menu-check {
  background-color: var(--main2);
}
.admin-store-menu-check > span {
  color: white;
}

.admin-store-list-main {
  margin-left: 30px;
}

.admin-store-posting-wrap {
  width: 100%;
  text-align: center;
}

.admin-store-posting-wrap > tr > td {
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-size: 20px;
}
.admin-store-detail-posting-wrap {
  width: 100%;
  text-align: center;
}

.admin-store-detail-posting-wrap > tr > td {
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-size: 20px;
}
.admin-store-paging-wrap {
  min-width: 900px;
  width: 70%;
  margin: 20px auto;
}
.admin-store-paging-wrap > .pagination {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.pagination li {
  display: flex;
}

.pagination li > span {
  font-size: 24px;
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.active-page {
  background-color: var(--main2);
  opacity: 0.3;
  color: white;
}

.admin-store-posting-wrap .admin-store-posting-title th {
  color: white;
  background-color: var(--main2);
  font-size: 24px;
  font-family: LeeSeoyun;
  font-weight: 300;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 50px;
}
.admin-store-detail-posting-wrap .admin-store-detail-posting-title th {
  color: white;
  background-color: var(--main2);
  font-size: 24px;
  font-family: LeeSeoyun;
  font-weight: 300;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 50px;
}
.admin-store-button-zone {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.admin-store-button-zone > button {
  width: 100px;
}

.admin-store-select-wrap {
  cursor: pointer;
}

.admin-store-select-wrap:hover > * {
  background-color: var(--main2);
  color: white;
}

.admin-store-detail-wrap {
  min-width: 900px;
  width: 70%;
  margin: 50px auto;
}

.admin-store-detail-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.admin-store-detail-info-wrap {
  width: 45%;
  border: 1px solid var(--font3);
  border-radius: 10px;
  padding: 15px;
}

.admin-store-detail-data-wrap {
  width: 50%;
  border: 1px solid var(--font3);
  border-radius: 10px;
  padding: 15px;
}
.admin-store-detail-info-title > h4 {
  text-align: center;
}
.admin-store-detail-info-content {
  margin-top: 20px;
}
.admin-store-detail-info-content > div {
  margin-top: 20px;
}
.admin-store-detail-info-content > div span {
  font-size: 18px;
}

.admin-store-detail-business {
  display: flex;
  gap: 30px;
}
.admin-store-detail-map-data > div {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.admin-store-detail-data-title > h4 {
  text-align: center;
}

.admin-store-detail-info-card {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 30px;
  text-align: center;
}

.admin-store-contract-btn-box {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.admin-store-contract-btn-box > button {
  width: 80%;
  height: 50px;
  text-align: center;
}

.admin-store-detail-user-data-wrap {
  margin-top: 30px;
  width: 100%;
  border: 1px solid var(--font3);
  border-radius: 10px;
  padding: 15px;
}
