.link {
  display: none;
}

.menuview-bigwrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
}

.menuview-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.menu-image {
  text-align: center;
}
.menu img {
  margin-right: 20px;
}
.menu p {
  clear: both;
}

.menu-image img {
  width: 1200px;
  height: 232px;
}
.menu-image2 img {
  width: 200px;
  height: 232px;
}

.menuview-info {
  text-align: center;
}

.schedule {
  display: flex;
  justify-content: center;
}
.schedule2 {
  display: flex;
}
.schedule > span {
  margin-right: 10px;
}
.menu-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.menu-nav li {
  cursor: pointer;
}

.main-menu {
  margin-top: 20px;
}

/* 여기까지 메인뷰*/

.reservation-info {
  text-align: center;
  margin-bottom: 20px;
  box-sizing: content-box;
  border: 1.5px solid;
  height: 300px;
  position: relative;
}
.res-time > div {
  border: 1px solid;
}

.find-date {
  width: 300px;
  border: 1.5px solid;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main1);
}

.facilities {
  height: 300px;
  margin-bottom: 20px;
}

.reservation-button {
  position: fixed;
  width: 1200px;
  bottom: 0px;
  margin-top: 20px;
  align-items: center;
  background-color: #eee;
  border: 1px solid #ccc;
  left: calc((100% - 1200px) / 2);
  padding: 15px 5px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  z-index: 99;
}
.reservation-button > span {
  cursor: pointer;
}

.reservation-btn {
  width: 350px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--main2);
}
/* 여기부터는 소식*/

/* 여기서부터는 메뉴*/
.menu-review {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}

.toggle-button {
  background-color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}
.menu-board {
  display: flex;
}

/*여기서부터는 매장정보*/
