<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.sas.review.model.dao.ReviewDao">


	<!-- 모든 리뷰 조회 -->
    <select id="getAllReview" resultType="review">
        SELECT * FROM review
    </select>

    <!-- 리뷰 번호로 특정 리뷰 조회 -->
    <select id="getReviewNo" parameterType="int" resultType="review">
        SELECT * FROM review WHERE review_no = #{reviewNo}
    </select>
</mapper>
