<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.sas.store.model.dao.StoreDao">


	<select id="checkEmail" resultType="store">
		select * from store where so_email=#{soEmail}
	</select>
	
	
	<insert id="insertStoreOwner">
		insert into store values(store_seq.nextval, 
							    #{soEmail}, 
							    null, 
							    #{businessNumber},
							    null, 
							    null, 
							    null, 
							    null, 
							    null, 
							    null, 
							    null, 
							    null, 
							    null, 
							    #{soName}, 
							    #{soPhone}, 
							    0, 
							    null, 
							    null, 
							    null, 
							    null, 
							    null, 
							    1, 
							    null)
	</insert>
	
	
	<update id="insertStore">
		update store set 
			store_name=#{storeName}, 
			store_time=#{storeTime}, 
			store_phone=#{storePhone}, 
			store_addr=#{storeAddr}, 
			store_class=#{storeClass} 
		where business_number=#{businessNumber}
	</update>
</mapper>
