<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.sas.user.model.dao.UserDao">
	<select id="searchUser" resultType="user">
		select 
			user_no, 
			user_id, 
			user_pw,
			user_phone, 
			user_email, 
			user_gender, 
			user_birth, 
			user_nickname, 
			user_name, 
			user_photo, 
			login_type 
		from user_tbl 
		where user_id=#{userId}
	</select>
	<insert id="insertUser">
		insert into user_tbl values(user_seq.nextval, 
									#{userId}, 
									#{userPw}, 
									#{userPhone}, 
									#{userEmail}, 
									#{userGender},
									#{userBirth}, 
									#{userNickname}||user_seq.currval,
									#{userName},
									null,
									1 )
	</insert>
	<select id="findId" resultType="String">
		select user_id from user_tbl where user_name = #{userName}
		<if test="!userPhone.equals('')">
			and user_phone=#{userPhone}
		</if>
		<if test="!userEmail.equals('')">
			and user_email =#{userEmail}
		</if>	
	</select>
	<select id="findUserNo" resultType="user">
		select user_no from user_tbl where user_id=#{userId} and user_email=#{userEmail}
	</select>
	<update id="updatePw">
		update user_tbl set user_pw = #{userPw} where user_no = #{userNo}
	</update>
	<select id="selectOneUser" resultMap="getUserForMypage">
		select user_no, user_id, user_nickname, user_birth, user_phone, user_email, user_gender, user_photo	from user_tbl where user_no = #{userNo}
	</select>
	<resultMap type="user" id="getUserForMypage">
		<result column="user_nickname" property="userNickname"/>
		<result column="user_id" property="userId"/>
		<result column="user_no" property="userNo"/>
		<collection property="favoriteFolderList" select="selectFavoriteFolderList" column="user_no" javaType="java.util.List" ofType="favoriteFolder"/>
		<collection property="reservationList" select="selectReservationList" column="user_id" javaType="java.util.List" ofType="reservation"/>
		<collection property="reviewList" select="selectReviewList" column="user_nickname" javaType="java.util.List" ofType="review"/>
	</resultMap>
	<select id="selectFavoriteFolderList" resultType="favoriteFolder">
		select * from favorite_folder where user_no=#{userNo} and favorite_folder_name!='기본폴더'
	</select>
	<select id="selectReservationList" resultType="reservation">
		select * from 
		(select rownum as rnum, r.* from 
		(select reserve_date,to_char(reserve_date, 'yyyy-MM-dd hh24:mi') reserve_date_string, reserve_status, reserve_people, store_name 
		from reservation join store using(store_no) where user_id=#{userId} and reserve_status =0 order by 
1)r )rnum_tbl where rnum between 1 and 3
	</select>
	<select id="selectReviewList" resultType="review">
		select * from review where user_nickname=#{userNickname}
	</select>
	<update id="updateUserPhoto">
		update user_tbl set user_photo=#{userPhoto} where user_no = #{userNo}
	</update>
	<select id="getUserInfoForPay">
		select user_email, user_phone, user_name from user_tbl where user_no=#{userNo}
	</select>
</mapper>
