.question-wrap {
  width: 100%;
}

.question-title-wrap {
  width: 100%;
  padding: 30px;
  height: 100px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  line-height: 40px;
}

.question-title-wrap > * {
  font-size: 32px;
  font-weight: 800;
}

.question-content-wrap {
  width: 100%;
}

.question-list-wrap {
  min-width: 900px;
  width: 70%;
  margin: 0 auto;
}

.question-list-menu {
  display: flex;
  margin: 30px 0 0 30px;
  border-bottom: 1px solid var(--font3);
  align-items: center;
}
.question-menu {
  border: 1px solid var(--font3);
  border-bottom: none;
  width: 120px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.question-menu-check {
  background-color: var(--main2);
}
.question-menu-check > span {
  color: white;
}

.question-list-main {
  margin-left: 30px;
}

.question-posting-wrap {
  width: 100%;
  text-align: center;
}
.question-posting-wrap .question-posting-title {
  cursor: none;
  color: white;
}
.question-posting-wrap .question-posting-title th {
  color: white;
  background-color: var(--main2);
  font-size: 24px;
  font-family: LeeSeoyun;
  font-weight: 300;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 50px;
}
.question-posting-wrap > tr {
  cursor: pointer;
}

.question-posting-wrap > tr:hover * {
  background-color: var(--main2);
  color: white;
}

.question-posting-wrap > tr > td {
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-size: 20px;
}

.question-paging-wrap {
  min-width: 900px;
  width: 70%;
  margin: 20px auto;
}
.question-paging-wrap > .pagination {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.pagination li {
  display: flex;
}

.pagination li > span {
  font-size: 24px;
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.active-page {
  background-color: var(--main2);
  opacity: 0.3;
  color: white;
}

.question-write-btn {
  float: right;
}
.question-write {
  width: 120px;
  height: 50px;
}

.question-write-btn button {
  width: 120px;
  height: 50px;
}
.question-write-form {
  width: 100%;
}
.question-write-wrap {
  min-width: 900px;
  width: 70%;
  margin: 0 auto;
}

.question-editor-wrap {
  min-height: 500px;
}

.question-write-title-wrap {
  width: 100%;
  margin-top: 50px;
}
.question-write-title-wrap > div {
  margin-bottom: 30px;
}
.question-title {
  width: 100%;
  text-align: left;
  line-height: 50px;
}
.question-title > label {
  font-size: 24px;
  height: 50px;
}
.question-title > input {
  border: none;
  padding-left: 10px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid var(--font3);
}

.question-type {
  width: 100%;
  display: flex;
}
.question-type > div:first-child {
  width: 20%;
  text-align: left;
  line-height: 50px;
  font-size: 24px;
}

.question-mui-wrap {
  width: 80%;
}
.question-mui-wrap > * {
  width: 100%;
}

.question-write-button-zone {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.question-write-button-zone > button {
  width: 180px;
  height: 50px;
  font-size: 24px;
}

.question-detail-wrap {
  min-width: 900px;
  width: 70%;
  margin: 50px auto;
}

.question-detail-table {
  width: 100%;
}
.question-detail-table tr {
  height: 60px;
  border: 0.5px solid var(--font3);
}

.question-detail-table tr th {
  text-align: center;
  border-right: 0.5px solid var(--font3);
  border-left: 0.5px solid var(--font3);
}

.question-detail-table tr td {
  padding-left: 10px;
}
.question-detail-table-td {
  height: 500px;
  padding-top: 10px;
  vertical-align: top;
}

.question-both-wrap {
  cursor: pointer;
}

.question-both-wrap:hover * {
  background-color: var(--main2);
  color: white;
}
.question-write-button-zone > .question-back {
  width: 360px;
  height: 50px;
  font-size: 24px;
}
