.reservation-modal-wrap.first {
  display: flex;
  padding: 30px;
}
.reservation-modal-wrap.first .day-picker {
  order: 1;
  width: 50%;
  display: flex;
  position: relative;
}
.reservation-modal-wrap.first .day-picker > .rdp-root {
  width: 100%;
}
.reservation-modal-wrap.first .day-picker > button.today-btn {
  outline: none;
  color: var(--main1);
  border: none;
  background-color: transparent;
  position: absolute;
  font-family: var(--pointFont);
  top: 10px;
  left: 20px;
  font-size: larger;
  cursor: pointer;
  z-index: 99;
}
.reservation-modal-wrap.first .day-picker > button.today-btn:hover {
  text-decoration: underline;
}
.reservation-modal-wrap.first > .reservation-info-wrap {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  gap: 15px;
  /* display: table-cell; */
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > [class^="reservation-how"] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > [class^="reservation-how"]
  > span.title {
  align-self: flex-start;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > [class^="reservation-how"]
  > span.title
  > label {
  font: bold 1.7em var(--pointFont);
  color: var(--main1);
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > [class^="reservation-how"]
  > .input-item {
  position: relative;
  align-self: flex-end;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > [class^="reservation-how"]
  > .input-item
  > input {
  width: 90px;
  border-radius: 20%;
  text-align: center;
  background-color: #efefef;
  border: none;
  outline: none;
  font-size: 1.2em;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-how-many
  > .input-item
  > span.input-text {
  position: absolute;
  left: -175px;
  top: 3px;
  display: none;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-how-many
  > .input-item
  > button {
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--main1);
  font: bold 1.2em var(--defaultFont);
  top: 2px;
  cursor: pointer;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-how-many
  > .input-item
  > button.plus {
  right: 30px;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > [class^="reservation-how"]
  > .input-item
  > span.unit {
  padding-left: 15px;
  font-size: 1.2em;
}
.reservation-modal-wrap.first .reservation-info-wrap > .reservation-when {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  align-content: flex-start;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-when
  > .time-btn-box {
  width: 23%;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-when
  > .time-btn-box
  > label {
  width: 100%;
  height: 35px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-when
  > .time-btn-box
  > input:checked
  + label {
  background-color: #fff;
  color: var(--main1);
  font-weight: bold;
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-when
  > .time-btn-box
  > label.disabled {
  background-color: var(--font3);
  border: 1px solid var(--font3);
}
.reservation-modal-wrap.first
  .reservation-info-wrap
  > .reservation-when
  > .time-btn-box
  > label.disabled:hover {
  background-color: var(--font3);
  border: 1px solid var(--font3);
  color: #fff;
  cursor: default;
}

.reservation-modal-wrap.first .reservation-info-wrap .btn-box > button {
  width: 100%;
  height: 45px;
  font: bold 1.5em var(--defaultFont);
  outline: none;
}
/* 예약 모달 두번째 페이지 */
.reservation-modal-wrap.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}
.reservation-modal-wrap.second > .modalTitle > * {
  margin: 0 auto;
  text-align: center;
}
.reservation-modal-wrap.second > .modalTitle > h1 {
  font: bold 40px var(--defaultFont);
  color: var(--main1);
}
.reservation-modal-wrap.second > .modalTitle > p {
  font-size: 20px;
  padding: 15px;
}

.reservation-modal-wrap.second > .modalContent {
  width: 100%;
  flex: 1;
}
.reservation-modal-wrap.second > .modalContent > .reservation-info-wrap {
  border: 1px solid var(--font3);
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.reservation-modal-wrap.second > .modalContent > .reservation-info-wrap > h2 {
  font: bold 30px var(--defaultFont);
  color: var(--font1);
  text-align: center;
  padding: 20px;
}
.reservation-modal-wrap.second
  > .modalContent
  > .reservation-info-wrap
  > .reservation-info-content {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 10px;
}
.reservation-modal-wrap.second
  > .modalContent
  > .reservation-info-wrap
  > .reservation-info-content
  > .content-wrap {
  width: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reservation-modal-wrap.second
  > .modalContent
  > .reservation-info-wrap
  > .reservation-info-content
  > .content-wrap
  > span.icon {
  font-weight: bold;
  font-size: 50px;
  color: var(--main1);
}
.reservation-modal-wrap.second
  > .modalContent
  > .reservation-info-wrap
  > .reservation-info-content
  > .content-wrap
  > span.info {
  font: 500 20px var(--defaultFont);
  padding: 5px;
}

.reservation-modal-wrap.second > .modalFooter {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.reservation-modal-wrap.second > .modalFooter > button {
  width: 40%;
  height: 50px;
  font: bold 25px var(--defaultFont);
  outline: none;
}
