.comments-container {
  padding: 5%;
}

.review-wrapper {
  margin-bottom: 30px;
}

.review-bubble {
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 80%;
  position: relative;
}

.user-review {
  background: linear-gradient(120deg, #1d201e 50%, #29482a47 99%);
  text-align: left;
  margin-left: 10px;
}

.admin-reply {
  background: linear-gradient(250deg, #1d201e 50%, #29482a47 99%);
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
}
.admin-reply p {
  color: #fff;
}
.reply-btn {
  background: linear-gradient(290deg, #3b5f47 10%, #29482a47 80%);
  color: #fff;
}
.report-btn {
  background: linear-gradient(290deg, #291a1a 10%, #f7080847 80%);
  color: #fff;
}
.reply-btn-wrapper {
  text-align: right;
}

.reply-form-container {
  margin-top: 10px;
}

.reply-form {
  display: flex;
  flex-direction: column;
}

.reply-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: linear-gradient(120deg, #1d201e 50%, #29482a47 99%);
  resize: none;
}

.reply-actions {
  display: flex;
  justify-content: flex-end;
}

.submit-reply-btn,
.cancel-reply-btn {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 9999;
  color: #fff;
}

.submit-reply-btn {
  background: linear-gradient(290deg, #3b5f47 10%, #29482a47 80%);
}

.cancel-reply-btn {
  background: linear-gradient(290deg, #291a1a 10%, #f7080847 80%);
}
/* 모달 오버레이 스타일 */
.report-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* 배경 어둡게 처리 */
  z-index: 1000; /* 오버레이가 다른 요소들 위에 표시되도록 설정 */
}

/* 모달 창 스타일 */
.report-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 모달 중앙 정렬 */
  background: linear-gradient(250deg, #475c41 10%, #333f3347 99%);
  padding: 20px;
  width: 400px; /* 모달 너비 */
  max-width: 80%; /* 작은 화면에서 너비 조절 */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
  z-index: 1001; /* 오버레이보다 높은 z-index */
  text-align: center; /* 모달 내용 가운데 정렬 */
  color: #fff;
}

/* 신고 사유 입력 필드 스타일 */
.report-reason-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  outline: none;
  background: linear-gradient(120deg, #1d201e 50%, #29482a47 99%);
  color: #fff;
}

/* 모달 안의 버튼 스타일 */
.report-modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* 신고 제출 버튼 스타일 */
.submit-report-btn {
  background: linear-gradient(290deg, #291a1a 10%, #f7080864 80%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-report-btn:hover {
  background-color: #d32f2f;
}

/* 신고 취소 버튼 스타일 */
.cancel-report-btn {
  background: linear-gradient(290deg, #291a1a 10%, #2322227d 80%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.css-34he1w-MuiRating-decimal path {
  color: gold;
}
.css-6lewhu-MuiRating-icon path {
  color: transparent;
}
.review-text {
  color: #fff;
}
.review-score {
  color: #fff;
}
.cancel-report-btn:hover {
  background-color: #3333338b;
}
/* 블러 처리된 리뷰 */
.blur-review {
  filter: blur(5px);
  pointer-events: none;
}

.review-wrapper {
  transition: all 0.3s ease;
}

.review-wrapper:hover {
  filter: none;
  pointer-events: auto;
}
