.storePayment-table {
  width: 100%;
  color: #fff;
}

.storePayment-tr {
  height: 100px;
}

.storePayment-th {
  font-size: 26px;
  text-align: center;
  color: #fff;
}

.storePayment-label {
  color: #fff;
  font-weight: 200;
  font-size: 25px;
}

.storePayment-img-zone {
  width: 90%;
}

.storePayment-btn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.storePayment-btn {
  width: 60px;
  height: 40px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
}

.storePayment-btn.disabled {
  /* 비활성화된 버튼 스타일 */
  background-color: #ccc; /* 회색 배경 */
  color: #999; /* 회색 글자 */
  cursor: not-allowed; /* 커서를 비활성화 상태로 변경 */
}

.storePayment-btn:hover {
  border: none;
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

/* ownerstatistics.css */
/* 헤드 */
.dashboard-body {
  padding: 0 auto;
}
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px;
  color: white;
}
.dashboard-head {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%; /* 화면 전체 너비 */
  height: 100px; /* 헤더 높이 */
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 20px;
  max-width: 100%;
  line-height: 100px;
  margin-top: 25px;
}

.dashboard-head h1 {
  display: inline-block;
  padding: 0.1em;
  font-family: Helvetica Neue;
  border-radius: 10px;
  position: relative;
  margin: 0; /* 불필요한 여백 제거 */
  padding: 0;
  text-align: center;
  color: #e7eae7;
}
.owner-background {
  position: fixed; /* 배경이 스크롤에 따라 움직이지 않도록 */
  top: 0;
  left: 0;
  width: 100%; /* 화면 너비 */
  height: 100vh; /* 화면 높이 */
  z-index: -1; /* 배경이 콘텐츠 뒤에 있도록 설정 */
}
.owner-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover; /* 이미지를 비율에 맞게 덮도록 설정 */
  z-index: -1; /* 이미지가 콘텐츠 뒤에 있도록 설정 */
}
.top-section,
.middle-section,
.bottom-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.info-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
  border-radius: 12px;
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: space-between; /* 텍스트와 아이콘을 양 끝으로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 50px;
  margin-top: 50px;
}

.storePayment-info-card {
  text-align: center;
  color: #fff;
  align-items: center; /* 수직 가운데 정렬 */
  padding: 50px;
  margin-top: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
  border-radius: 12px;
  flex: 1;
  display: flex;
  justify-content: center; /* 텍스트와 아이콘을 양 끝으로 배치 */
  color: #fff;
  flex-direction: column;
}
.storePayment-info-text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storePayment-info-text h2 {
  text-align: center;
  color: #fff;
}

.info-card h2 {
  font-size: 2rem;
  color: #fff;
}

.storePayment-imgContainer {
  position: relative; /* 버튼을 이미지 위에 배치하기 위한 설정 */
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 12px;
}

/* 추가 */
.storePayment-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.storePayment-td {
  color: #fff;
  font-size: 20px;
}
