.storeView-inputBox {
  box-sizing: border-box;
  width: 75%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
}

.storeView-seat {
  box-sizing: border-box;
  width: 75%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 25px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
  text-align: center;
}

.storeView-table {
  width: 100%;
  color: #fff;
}

.storeView-tr {
  height: 100px;
}

.storeView-th {
  font-size: 26px;
  text-align: center;
  width: 30%;
}

.seat-th {
  font-size: 24px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  width: 266px;
}

.storeView-td {
  text-align: center;
  font-size: 26px;
  color: #fff;
  width: 50%;
}

.seat-td {
  color: #fff;
}

.storeView-label {
  color: #fff;
  font-weight: 200;
  font-size: 25px;
}

.storeView-imgDiv-zone {
  display: flex;
  align-items: center;
  justify-content: center; /* 이미지가 가운데에 위치하도록 변경 */
  gap: 10px;
  width: 100%;
  max-width: 1300px; /* 이미지 컨테이너의 너비를 적당한 크기로 설정 (조정 가능) */
  overflow-x: auto; /* 이미지들을 가로 스크롤할 수 있도록 설정 */
  white-space: nowrap; /* 이미지들이 한 줄로 나열되도록 설정 */
  padding: 20px 0; /* 이미지가 상하로 적당히 띄워져 보이도록 패딩 추가 */
  margin: 0 auto; /* 가운데 정렬 */
  position: relative;
}

.storeView-img-label {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: #518142;
  padding: 10px;
  width: 180px;
  cursor: pointer;
  display: inline-block; /* 라벨을 블록 요소로 변경 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.storeView-img-label:hover {
  color: #518142;
  background-color: #fff;
}

.storeView-div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.storeView-img-div {
  display: flex;
  align-items: center;
  justify-content: center; /* 파일 선택 라벨을 중앙으로 배치 */
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.storeView-img {
  width: 450px;
  height: 450px;
  object-fit: cover; /* 이미지 크기를 유지하면서 비율 맞추기 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.storeView-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  margin-left: 77px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-btn:hover {
  background-color: #fff;
  color: #518142;
  cursor: pointer;
}

.seat-tr {
  margin-left: 15px;
}

.seatTable {
  margin-left: 15px;
}

.seat-view-th {
  color: #fff;
  font-weight: 300;
}

.seat-view-table {
  margin: 0 auto;
}

.storeView-btn:hover {
  border: none;
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.storeView-textarea {
  box-sizing: border-box;
  width: 75%;
  height: 30%;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border: 1px solid #fff;
  font-weight: 200;
  resize: none; /* 크기 조절 불가 */
}

.storeView-modify-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.storeView-modifyBtn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
  margin-top: 40px;
}

.storeView-modify-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 900;
}

.storeView-imgContainer {
  position: relative; /* 버튼을 이미지 위에 배치하기 위한 설정 */
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 12px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #518142;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-remove-button {
  color: #fff;
  background-color: transparent;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.storeView-info-card {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
  border-radius: 12px;
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: space-between; /* 텍스트와 아이콘을 양 끝으로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 50px;
  margin-top: 50px;
}

/*추가*/

.storeView-slider-btn {
  position: absolute; /* 버튼을 이미지 위에 절대 위치 */
  top: 50%;
  transform: translateY(-50%); /* 버튼을 세로로 가운데 정렬 */
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  z-index: 10;
  color: #fff;
  outline: none; /* 클릭 시 테두리 라인 없애기 */
}

.storeView-slider-btn:focus {
  outline: none; /* 포커스 상태에서도 테두리 라인 없애기 */
}

.storeView-slider-btn:hover {
  color: #518142;
}

.storeView-slider-btn:first-of-type {
  left: 350px; /* 왼쪽 버튼 */
}

.storeView-slider-btn:last-of-type {
  right: 350px; /* 오른쪽 버튼 */
}

.storeView-updateBtn {
  position: absolute;
  width: 80px;
  color: #fff;
  background-color: transparent;
  font-size: 20px;
  top: 15px; /* info-card 상단에서 10px 만큼 내림 */
  right: 15px; /* info-card 오른쪽에서 10px 만큼 왼쪽으로 이동 */
  background-color: #518142;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.storeView-updateBtn:hover {
  background-color: #fff;
  color: #518142;
  cursor: pointer;
}
