.modal {
  display: none; /* 기본적으로 모달 창을 숨깁니다 */
  position: fixed;
  z-index: 1000; /* 다른 요소들보다 앞에 나오도록 설정 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 배경을 반투명 검정으로 설정 */
  justify-content: center;
  align-items: center;
  display: flex; /* 중앙 정렬을 위한 flex 속성 */
}
.modal-content {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.storeLogin-close {
  position: absolute;
  top: 3%;
  right: 8%;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.storeLogin-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
}
.storeLogin-main {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.storeLogin-signup {
  position: relative;
  width: 100%;
  background-color: #302b63;
  height: 100%;
  margin-top: -60px;
}
/*
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
*/

.storeLogin-btn-zone {
  width: 100%;
}

.storeLogin-btn {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background-color: #518142;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
/*
button:hover {
  background: #6d44b8;
}
*/
.storeLogin-login {
  margin-top: 100px;
  height: 500px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
/*
.login label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-540px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

/* .storeLogin-dashboard {
} 
.storeLogin-dashboard {
}
*/
