.storePwModal {
  display: none; /* 기본적으로 모달 창을 숨깁니다 */
  position: fixed;
  z-index: 1000; /* 다른 요소들보다 앞에 나오도록 설정 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 배경을 반투명 검정으로 설정 */
  justify-content: center;
  align-items: center;
  display: flex; /* 중앙 정렬을 위한 flex 속성 */
}
.storePwModal-content {
  width: 40%;
  height: 70%;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.storePwModal-close {
  position: absolute;
  top: 3%;
  right: 6%;
  font-size: 35px;
  color: #5e9960;
  cursor: pointer;
  z-index: 1;
}
.storechangePw-wrap {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
}
.storechangePw-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  margin-top: 0px;
  background-color: #fff;
}
#chk {
  display: none;
}
.storechangePw-signup {
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 75%;
}

.storechangePw-label {
  color: #5e9960;
  font-size: 2.5em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  padding: 30px;
}

.storechangePw-pw-label {
  color: #5e9960;
  font-size: 1.8em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  padding: 20px;
}

.storechangePw-input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.storechangePw-btn-zone {
  width: 100%;
}

.storechangePw-partnership-btn-zone {
  width: 100%;
  justify-content: center;
}

.storechangePw-btn {
  width: 60%;
  height: 50px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background-color: #518142;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.storechangePw-btn:hover {
  background: #6d44b8;
}

.storechangePw-login {
  margin-top: 100px;
  height: 100%;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-33px);
  transition: 0.8s ease-in-out;
  padding: 0px 15px;
}

.storechangePw-pw .storechangePw-label {
  color: #5e9960;
  transform: scale(0.6);
}

#chk:checked ~ .storechangePw-login {
  transform: translateY(-440px);
}

#chk:checked ~ .storechangePw-pw .storechangePw-label {
  transform: scale(1);
}

#chk:checked ~ .storechangePw-signup .storechangePw-label {
  transform: scale(0.6);
}

.storechangePw-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px;
  color: white;
}

/*storeRegist css*/

.storechangePw-inputBox {
  box-sizing: border-box;
  border: none;
  border-radius: 0%;
  background: none;
  color: #544f4f;
  font-size: 16px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #b9b9bd;
  font-weight: 200;
  margin-left: 15px;
  width: 80%;
}

.storechangePw-storeRegist-inputBox {
  box-sizing: border-box;
  border: none;
  border-radius: 0%;
  background: none;
  color: #544f4f;
  font-size: 13px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #b9b9bd;
  font-weight: 200;
  width: 70%;
}

.storechangePw-storeRegist-inputBox::placeholder {
  color: #b9b9bd;
  font-weight: 100;
  font-size: 13px;
}
.storechangePw-inputBox::placeholder {
  color: #b9b9bd;
  font-weight: 100;
  font-size: 16px;
}

.storechangePw-table {
  width: 100%;
  padding: 50px;
}

.storechangePw-tr {
  height: 100px;
}

.storechangePw-th {
  height: 100px;
}

.storechangePw-td {
  height: 100px;
}

.storechangePw-storeRegist-label {
  font-size: 15px;
  font-weight: 600;
  color: #544f4f;
}

.storechangePw-pw-label {
  font-size: 18px;
  font-weight: 600;
  color: #544f4f;
}

.storechangePw-storeRegist-btn {
  width: 65px;
  height: 30px;
  border: none;
  background-color: #5e9960;
  color: #fff;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 590;
  margin-left: 20px;
}

.storechangePw-storeRegist-btn:hover {
  border: 2px solid #5e9960;
  color: #5e9960;
  background-color: #eee;
}

.storechangePw-btn:hover {
  border: 2px solid #5e9960;
  color: #5e9960;
  background-color: #fff;
}

.storechangePw-msg {
  color: #5e9960;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.storechangePw-msg::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 15px;
  /*background: url("/image/icon_info_success.svg") no-repeat center / contain;*/
}

.storechangePw-btn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storechangePw-partnership-btn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storechangePw-login-btn {
  width: 290px;
  height: 60px;
  border: none;
  background-color: #5e9960;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.storechangePw-login-btn:hover {
  background-color: #fff;
  color: #5e9960;
  border: 2px solid #5e9960;
}

.storechangePw-partnership-btn {
  width: 290px;
  height: 45px;
  border: none;
  background-color: #5e9960;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.storechangePw-partnership-btn:hover {
  background-color: #fff;
  color: #5e9960;
}

.storechangePw-regist {
  padding: 15px 15px;
}

.storechangePw-find {
  margin-top: 25px;
  text-align: center;
}

.storechangePw-find-btn {
  border: none;
  background-color: #fff;
  outline: none;
}

.storechangePw-find-btn:focus {
  color: #518142;
  outline: none;
}

.storechangePw-msg {
  color: #5e9960;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.storechangePw-div {
}
