* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Pretendard-Regular;
  box-sizing: border-box;
  color: #544f4f;
  background-color: #ccc;
}

/* 상단 */

.storeRegist-tbody {
  background-color: white;
}

.storeRegist-wrap {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  padding: 50px;
  margin-top: 80px;
  box-shadow: 5px 6px 1px rgba(0, 0, 0, 0.3);
}

.storeRegist-inputBox {
  box-sizing: border-box;
  width: 70%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #544f4f;
  font-size: 18px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #b9b9bd;
}

.storeRegist-inputBox::placeholder {
  color: #b9b9bd;
  font-weight: 100;
  font-size: 16px;
}

.storeRegist-table {
  width: 100%;
}

.storeRegist-tr {
  height: 60px;
}

.storeRegist-th {
  padding: 5px;
  line-height: 60px;
}

.storeRegist-label {
  font-size: 22px;
  font-weight: 900;
}

.storeRegist-div {
  margin-left: 10px;
}

.storeRegist-btn {
  width: 90px;
  height: 40px;
  border: none;
  background-color: #5e9960;
  color: #fff;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
}

.storeRegist-msg {
  color: #5e9960;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.storeRegist-msg::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  /*background: url("/image/icon_info_success.svg") no-repeat center / contain;*/
}

/* 하단 */
.storeRegist-bottom-wrap {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  padding: 50px;
  margin-top: 80px;
  box-shadow: 5px 6px 1px rgba(0, 0, 0, 0.3);
}

.storeRegist-bottom-inputBox {
  box-sizing: border-box;
  width: 50%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #544f4f;
  font-size: 18px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #b9b9bd;
}

.storeRegist-bottom-table {
  width: 100%;
}

.storeRegist-bottom-tr {
  height: 60px;
}

.storeRegist-bottom-th {
  padding: 5px;
  line-height: 60px;
}

.storeRegist-bottom-label {
  font-size: 22px;
  font-weight: 900;
}

.storeRegist-bottom-div {
  margin-left: 10px;
}

.storeRegist-imgDiv {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeRegist-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeRegist-storeImg-btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #5e9960;
  color: #fff;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  padding: 5px;
}
