.storeUpdate-inputBox {
  box-sizing: border-box;
  width: 65%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 26px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
}

.storeUpdate-table {
  width: 100%;
  color: #fff;
  padding: 20px;
}

.storeUpdate-tr {
  height: 100px;
}

.storeUpdate-th {
  font-size: 26px;
  text-align: center;
  width: 30%;
}

.storeUpdate-td {
  font-size: 26px;
  width: 100%; /* 고정값 대신 100%로 변경 */
  max-width: 100%; /* 화면 너비에 맞게 조정 */
}

.storeUpdate-main {
  width: 100%;
  max-width: 100vw; /* 뷰포트 너비를 넘지 않도록 설정 */
}

.storeUpdate-label {
  color: #fff;
  font-weight: 200;
  font-size: 26px;
}

.storeUpdate-img-label {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: #518142;
  padding: 10px;
  width: 180px;
  cursor: pointer;
  display: inline-block; /* 라벨을 블록 요소로 변경 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.storeUpdate-imgDiv-zone {
  display: flex;
  align-items: center;
  justify-content: center; /* 이미지가 가운데에 위치하도록 변경 */
  gap: 10px;
  width: 100%;
  max-width: 1300px; /* 이미지 컨테이너의 너비를 적당한 크기로 설정 (조정 가능) */
  overflow-x: auto; /* 이미지들을 가로 스크롤할 수 있도록 설정 */
  white-space: nowrap; /* 이미지들이 한 줄로 나열되도록 설정 */
  padding: 20px 0; /* 이미지가 상하로 적당히 띄워져 보이도록 패딩 추가 */
  margin: 0 auto; /* 가운데 정렬 */
}

.storeUpdate-div {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 26px;
  font-weight: 200;
  text-align: center;
}

.storeUpdate-img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* 이미지 크기를 유지하면서 비율 맞추기 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.storeUpdate-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 83px;
}

.storeUpdate-btn:hover {
  border: none;
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.storeUpdate-textarea {
  box-sizing: border-box;
  width: 65%;
  height: 30%;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 26px;
  outline: 0;
  transition: none;
  transform: none;
  border: 1px solid #fff;
  font-weight: 200;
  resize: none; /* 크기 조절 불가 */
}

.storeUpdate-modify-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.storeUpdate-modifyBtn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
  margin-top: 40px;
}

.storeUpdate-modify-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 900;
}

.storeUpdate-imgContainer {
  position: relative; /* 버튼을 이미지 위에 배치하기 위한 설정 */
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 12px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #518142;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeUpdate-p {
  margin-left: 49px;
  font-size: 15px;
  color: #bfbfbf;
}

.storeView-seat {
  box-sizing: border-box;
  width: 75%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 25px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
  text-align: center;
}

.storeUpdate-info-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
  border-radius: 12px;
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: space-between; /* 텍스트와 아이콘을 양 끝으로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 50px;
  margin-top: 50px;
  width: 100%;
}

.storeUpdate-img-div {
  display: flex;
  align-items: center;
  justify-content: center; /* 파일 선택 라벨을 중앙으로 배치 */
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
