.dashboard-store-body {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100px; /* 헤더 높이 */
}

.dashboard-store-head {
  width: 100%; /* 화면 전체 너비 */
}

.dashboard-store-head h1 {
  text-align: center; /* 텍스트 가운데 정렬 */
  font-family: Helvetica Neue;
  color: #e7eae7;
  margin: 0;
  padding: 0;
}
