.storeUpdate-inputBox {
  box-sizing: border-box;
  width: 75%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
}

.storeUpdate-table {
  width: 100%;
  color: #fff;
}

.storeUpdate-tr {
  height: 100px;
}

.storeUpdate-th {
  font-size: 22px;
  text-align: center;
  width: 30%;
}

.storeUpdate-th {
  text-align: center;
}

.storeUpdate-label {
  color: #fff;
  font-weight: 200;
  font-size: 25px;
}

.storeUpdate-imgDiv-zone {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  overflow-x: auto; /* 가로 스크롤을 활성화 */
  white-space: nowrap; /* 자식 요소들이 한 줄로 나열되도록 설정 */
}

.storeUpdate-div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.storeUpdate-imgDiv {
  width: 80%;
  height: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeUpdate-img {
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.storeUpdate-btn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.storeUpdate-storeImg-btn {
  width: 140px;
  height: 50px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  padding: 5px;
}

.storeUpdate-storeImg-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.storeUpdate-addr {
  width: 100%;
  margin-left: 45px;
}

.storeUpdate-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  margin-left: 77px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeUpdate-btn:hover {
  border: none;
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.store-regist-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.store-regist-btn:hover {
  border: none;
  background-color: #fff;
  color: #518142;
}

/* 추가 */
.info-header-h3 {
  font-size: 16px;
  color: #bfbfbf;
  padding: 10px;
}

.storeUpdate-textarea {
  box-sizing: border-box;
  width: 75%;
  height: 30%;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border: 1px solid #fff;
  font-weight: 200;
  resize: none; /* 크기 조절 불가 */
}

.storeUpdate-modify-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.storeUpdate-modifyBtn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.storeUpdate-modify-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 900;
}

.storeUpdate-imgContainer {
  position: relative; /* 버튼을 이미지 위에 배치하기 위한 설정 */
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 12px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #518142;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeUpdate-updateBtn {
  position: absolute;
  width: 80px;
  font-size: 20px;
  top: 15px; /* info-card 상단에서 10px 만큼 내림 */
  right: 15px; /* info-card 오른쪽에서 10px 만큼 왼쪽으로 이동 */
  background-color: #518142;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.storeUpdate-updateBtn:hover {
  background-color: #fff;
  color: #518142;
}

.storeUpdate-info-card {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
  border-radius: 12px;
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: space-between; /* 텍스트와 아이콘을 양 끝으로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 50px;
  margin-top: 50px;
}

.img-th {
  width: 90%;
}

.img-tr {
  width: 80%;
}
