.storeView-inputBox {
  box-sizing: border-box;
  width: 75%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
}

.storeView-table {
  width: 100%;
  color: #fff;
}

.storeView-tr {
  height: 100px;
}

.storeView-th {
  font-size: 22px;
  text-align: center;
  width: 50%;
}

.storeView-th {
  text-align: center;
}

.storeView-label {
  color: #fff;
  font-weight: 200;
  font-size: 25px;
}

.storeView-imgDiv-zone {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.storeView-div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.storeView-imgDiv {
  width: 80%;
  height: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.storeView-img {
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.storeView-img-zone {
  width: 90%;
}

.storeView-btn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.storeView-storeImg-btn {
  width: 140px;
  height: 50px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  padding: 5px;
}

.storeView-storeImg-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.storeView-addr {
  width: 100%;
  margin-left: 45px;
}

.storeView-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  margin-left: 77px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeView-btn:hover {
  border: none;
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.store-regist-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.store-regist-btn:hover {
  border: none;
  background-color: #fff;
  color: #518142;
}

/* 추가 */
.info-header-h3 {
  font-size: 16px;
  color: #bfbfbf;
  padding: 10px;
}

.storeView-textarea {
  box-sizing: border-box;
  width: 75%;
  height: 30%;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border: 1px solid #fff;
  font-weight: 200;
  resize: none; /* 크기 조절 불가 */
}

.storeView-modify-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.storeView-modifyBtn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.storeView-modify-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 900;
}

.storeView-imgContainer {
  position: relative; /* 버튼을 이미지 위에 배치하기 위한 설정 */
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 12px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #518142;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
