.storeView-inputBox {
  box-sizing: border-box;
  width: 75%;
  border: none;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border-bottom: 1px solid #fff;
  font-weight: 200;
}

.storeView-table {
  width: 100%;
  color: #fff;
}

.storeView-tr {
  height: 100px;
}

.storeView-th {
  font-size: 22px;
  text-align: center;
  width: 50%;
}

.storeView-th {
  text-align: center;
}

.storeView-label {
  color: #fff;
  font-weight: 200;
  font-size: 25px;
}

.storeView-imgDiv-zone {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.storeView-div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

.storeView-imgDiv {
  width: 80%;
  height: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.storeView-img {
  width: 100%; /* 각 이미지가 부모 영역을 가득 채우도록 */
  max-width: 300px; /* 필요에 따라 각 이미지의 최대 크기를 설정 */
  margin-right: 10px; /* 이미지 간의 간격 */
}

.storeView-img-zone {
  width: 90%;
  display: flex;
  flex-direction: row; /* 이미지들을 가로로 배치 */
  overflow-x: auto; /* 이미지가 넘칠 경우 가로 스크롤 */
}

/* WebKit 기반 브라우저에서 스크롤바 디자인 변경 */
.storeView-img-zone::-webkit-scrollbar {
  height: 8px; /* 가로 스크롤바의 높이 */
}

.storeView-img-zone::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바의 색상 */
  border-radius: 10px; /* 스크롤바의 둥근 모서리 */
}

.storeView-img-zone::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 배경 */
  border-radius: 10px;
}

/* 스크롤바 위에 마우스를 올렸을 때 색상 변경 */
.storeView-img-zone::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* 기본적인 스크롤바 숨기기 (선택사항) */
.storeView-img-zone {
  scrollbar-width: thin; /* Firefox용: 얇은 스크롤바 */
  scrollbar-color: #222623 #222623; /* 스크롤바 색상(Firefox) */
}

.storeView-btn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.storeView-storeImg-btn {
  width: 140px;
  height: 50px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  padding: 5px;
}

.storeView-storeImg-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.storeView-addr {
  width: 100%;
  margin-left: 45px;
}

.storeView-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 590;
  margin-left: 77px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeView-btn:hover {
  border: none;
  color: #518142;
  background-color: #fff;
  font-weight: 500;
}

.store-regist-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.store-regist-btn:hover {
  border: none;
  background-color: #fff;
  color: #518142;
}

/* 추가 */
.info-header-h3 {
  font-size: 16px;
  color: #bfbfbf;
  padding: 10px;
}

.storeView-textarea {
  box-sizing: border-box;
  width: 75%;
  height: 30%;
  border-radius: 0%;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: 0;
  transition: none;
  transform: none;
  border: 1px solid #fff;
  font-weight: 200;
  resize: none; /* 크기 조절 불가 */
}

.storeView-modify-btn {
  width: 300px;
  height: 90px;
  border: none;
  background-color: #518142;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
}

.storeView-modifyBtn-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.storeView-modify-btn:hover {
  color: #518142;
  background-color: #fff;
  font-weight: 900;
}

.storeView-imgContainer {
  position: relative; /* 버튼을 이미지 위에 배치하기 위한 설정 */
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 12px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #518142;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeView-updateBtn {
  position: absolute;
  width: 80px;
  font-size: 20px;
  top: 15px; /* info-card 상단에서 10px 만큼 내림 */
  right: 15px; /* info-card 오른쪽에서 10px 만큼 왼쪽으로 이동 */
  background-color: #518142;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.storeView-updateBtn:hover {
  background-color: #fff;
  color: #518142;
}

.storeView-info-card {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(35deg, #222623, #1d201e, #29482a47);
  border-radius: 12px;
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: space-between; /* 텍스트와 아이콘을 양 끝으로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 50px;
  margin-top: 50px;
}
