.dashboard-store-body {
  display: flex;
  padding: 40px;
  color: white;
}

.dashboard-store-head {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%; /* 화면 전체 너비 */
  height: 100px; /* 헤더 높이 */
}

.dashboard-store-head h1 {
  text-align: center; /* 텍스트 가운데 정렬 */
  justify-items: center;
  font-family: Helvetica Neue;
  display: flex;
  color: #e7eae7;
  margin: 0;
  padding: 0;
}
.pagination {
  padding-top: 20px;
  padding-bottom: 100px;
}
