/* 회원가입  */
.userJoin-main {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background-color: #efefef;
}
.userJoin-main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.userJoin-main .join-wrap {
  width: 55%;
  min-width: 600px;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px;
}

.userJoin-main .join-wrap > .title > h1 {
  color: var(--main1);
  text-align: center;
  margin-bottom: 50px;
}

.userJoin-main .join-content {
  width: 80%;
  margin: 0 auto;
}

.userJoin-main .input-title {
  margin: 10px 0;
}
.userJoin-main .input-title > label {
  color: var(--font1);
  font-size: 18px;
}
.userJoin-main .input-item > input[type="text"],
.userJoin-main .input-item > input[type="password"] {
  font-size: 16px;
  padding: 5px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--font2);
  margin-bottom: 10px;
}

.userJoin-main .input-item > input[type="text"]:focus,
.userJoin-main .input-item > input[type="password"]:focus {
  border-bottom: 3px solid var(--main1);
}

.userJoin-main input#userEmail {
  width: calc(100% - 90px);
}

.userJoin-main input#userEmail + button {
  width: 90px;
  padding: 3px;
  font-size: 13px;
}

.userJoin-main div.input-content {
  display: flex;
  gap: 30px;
}
.userJoin-main .radio-box > * {
  margin: 0px 3px;
}
.userJoin-main .radio-box > label {
  cursor: pointer;
}

.userJoin-main .msg.valid {
  color: var(--main1);
}

.userJoin-main .msg.invalid {
  color: red;
}

/* 이용약관 */
.userJoin-main .agree-wrap {
  width: 55%;
  min-width: 600px;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
}
.userJoin-main .agree-wrap > h2 {
  margin: 0;
  padding: 0;
}
.userJoin-main .agree-wrap > h2 > label {
  font-size: 20px;
}
.userJoin-main .agree-content {
  padding: 7px 20px;
}
.userJoin-main input[type="checkbox"] + label {
  margin-left: 10px;
  cursor: pointer;
}

.userJoin-main .agree-content {
  display: flex;
  justify-content: space-between;
}
.userJoin-main .agree-content > label {
  flex: 1;
}

.userJoin-main .agree-content > button {
  background-color: transparent;
  border: none;
  position: relative;
  outline: none;
}
.userJoin-main .agree-content > button:hover {
  text-decoration: underline;
}
.userJoin-main .agree-content > button > span {
  position: absolute;
  left: 30px;
}

/* 회원가입 버튼 */
.userJoin-main .btn-zone {
  width: 55%;
  min-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
.userJoin-main .btn-zone > button {
  width: 100%;
  height: 60px;
  font-size: 25px;
  font-weight: 600;
}
