/* 기본 설정 */
.round {
  border-radius: 10px;
}

button {
  cursor: pointer;
  outline: none;
}
a {
  text-decoration: none;
}
.btn-main {
  border: 1px solid var(--main1);
  background-color: var(--main1);
  color: white;
}
.btn-main:hover {
  background-color: #fff;
  color: var(--main1);
}

.btn-sub {
  border: 1px solid var(--main1);
  background-color: #fff;
  color: var(--main1);
}
.btn-sub:hover {
  background-color: var(--main1);
  color: white;
}

.btn-a {
  background-color: transparent;
  color: var(--main1);
  outline: none;
  border: none;
}

.btn-a:hover {
  color: var(--main1);
  text-decoration: underline;
}

.colorGreen {
  color: var(--main1);
}
.colorRed {
  color: red;
}
.borderBottomRed {
  border-bottom: 1px solid red;
}
/* 로그인 메인 */
.user-login-main {
  width: 100%;
}
.user-login-main .logo {
  text-align: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-login-main .logo > img {
  width: 400px;
}
.user-login-main .login-content {
  width: 50%;
  min-width: 450px;
  max-width: 500px;
  margin: 0 auto;
}
/* 로그인 */
.user-login-main form {
  margin: 0 auto;
}

.user-login-main .login-title {
  text-align: left;
  font-size: 20px;
  color: var(--font1);
  font-weight: 800;
}

.user-login-main .input-item {
  margin: 15px 0;
}
.user-login-main .input-item > input {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--main1);
  padding: 3px 10px;
  font-size: 17px;
}
.user-login-main .input-item > p.msg {
  color: red;
}
.user-login-main .login-btn > button {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 20px;
  font-weight: 800;
}

.user-login-main div.link {
  display: flex;
  justify-content: end;
  gap: 40px;
  margin-top: 10px;
  margin-right: 10px;
}
.user-login-main div.link a {
  color: var(--font2);
}
.user-login-main div.link a:hover {
  color: var(--main1);
}
/* 아이디, 비밀번호 찾기 */
.user-login-main div.find-main-zone {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.user-login-main .find-main-zone > button {
  text-align: left;
  padding: 10px;
  height: 50px;
  outline: none;
}
.user-login-main .find-main-zone > button.find-id {
  margin-top: 75px;
}
.user-login-main .find-main-zone > div[class^="findBy"] > h3 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  position: relative;
}
.user-login-main
  .find-main-zone
  > div[class^="findBy"]
  > h3
  > span.material-icons {
  position: absolute;
  left: -15px;
  top: 1px;
}
.user-login-main .find-main-zone > div[class^="findBy"] {
  border: 1px solid var(--main1);
  padding: 10px;
  padding-left: 20px;
}
.user-login-main .find-main-zone .find-content {
  display: none;
}
.user-login-main .find-main-zone .find-content.active {
  display: block;
}
.user-login-main .find-main-zone .find-content > .input-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  padding-left: 20px;
  align-items: center;
}

.user-login-main .find-main-zone .find-content > .input-item > input {
  width: 80%;
  height: 40px;
  border: none;
  flex: 1;
}
.user-login-main .find-main-zone .find-content .input-title {
  width: 20%;
  font-size: 17px;
  line-height: 40px;
  height: 40px;
}
.user-login-main .find-main-zone .find-content .input-title > label {
  color: var(--font1);
  font-weight: 700;
}
.user-login-main .find-main-zone .find-content .input-item > button {
  font-size: 10px;
  padding: 0;
  width: 75px;
  height: 25px;
  outline: none;
}
.user-login-main .find-main-zone .find-content .find-btn {
  text-align: center;
}
.user-login-main .find-main-zone .find-content .find-btn > button {
  width: 70%;
  height: 40px;
  outline: none;
}

/* 찾기 결과 */
.user-login-main .find-main-zone > div.find-result {
  border: 1px solid var(--main1);
  padding: 10px;
  padding-left: 20px;
}
.user-login-main .find-main-zone > div.find-result > h3 {
  text-align: center;
  margin: 70px auto;
  font-size: 20px;
}

.user-login-main .find-main-zone > div.find-result > h3 > span {
  font-size: 21px;
  color: var(--font1);
  font-weight: bold;
}
.user-login-main .find-main-zone > div.find-result > div.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.user-login-main .find-main-zone > div.find-result > div.button > a {
  display: block;
  width: 40%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
}

/* 비밀번호 찾기 */
.user-login-main .find-main-zone .find-content > .input-item.flex-start {
  justify-content: flex-start;
}

/* 비밀번호 인증번호 */
.find-main-zone > .findByEmail.findPw .findPw-number {
  position: relative;
  margin-bottom: 0;
}
.find-main-zone > .findByEmail.findPw div.findPw-number > span.auth-time {
  position: absolute;
  top: 8px;
  right: 100px;
}
.find-main-zone > .findByEmail.findPw p.msg.email-msg {
  padding: 0;
  margin-bottom: 10px;
  padding-left: 25%;
  font-size: 15px;
}
/* 새 비밀번호 재설정 */
.user-login-main .find-main-zone > .findByEmail-result.pw {
  padding: 10px 15px;
}
.find-main-zone > .findByEmail-result .find-content > .input-item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 20px;
}
.find-main-zone > .findByEmail-result .find-content > .input-item > span {
  width: 100%;
}
.find-main-zone > .findByEmail-result .find-content > .input-item > input {
  border-bottom: 1px solid var(--font2);
  border-radius: 0;
  width: 100%;
  margin-top: 10px;
}
