/* 기본 설정 */
.round {
  border-radius: 10px;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.btn-main {
  border: 1px solid var(--main1);
  background-color: var(--main1);
  color: white;
}
.btn-main:hover {
  background-color: #fff;
  color: var(--main1);
}

.btn-sub {
  border: 1px solid var(--main1);
  background-color: #fff;
  color: var(--main1);
}
.btn-sub:hover {
  background-color: var(--main1);
  color: white;
}
/* 로그인 메인 */
.user-login-main {
  width: 100%;
}
.user-login-main .logo {
  text-align: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-login-main .logo > img {
  width: 400px;
}
.user-login-main .login-content {
  width: 50%;
  min-width: 450px;
  max-width: 500px;
  margin: 0 auto;
}
/* 로그인 */
.user-login-main form {
  margin: 0 auto;
}

.user-login-main .login-title {
  text-align: left;
  font-size: 20px;
  color: var(--font1);
  font-weight: 800;
}

.user-login-main .input-item {
  margin: 15px 0;
}
.user-login-main .input-item > input {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--main1);
  padding: 3px 10px;
  font-size: 17px;
}
.user-login-main .input-item > p.msg {
  color: red;
}
.user-login-main .login-btn > button {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 20px;
  font-weight: 800;
}

.user-login-main div.link {
  display: flex;
  justify-content: end;
  gap: 40px;
  margin-top: 10px;
  margin-right: 10px;
}
.user-login-main div.link a {
  color: var(--font2);
}
.user-login-main div.link a:hover {
  color: var(--main1);
}
/* 아이디, 비밀번호 찾기 */
.user-login-main div.find-main-zone {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.user-login-main .find-main-zone > button {
  text-align: left;
  padding: 10px;
  height: 50px;
}
.user-login-main .find-main-zone > button.find-id {
  margin-top: 75px;
}
.user-login-main .find-main-zone > div[class^="findBy"] > h3 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}
.user-login-main .find-main-zone > div[class^="findBy"] {
  border: 1px solid var(--main1);
  padding: 10px;
  padding-left: 20px;
}
.user-login-main .find-main-zone .find-content {
  display: none;
}
.user-login-main .find-main-zone .find-content.active {
  display: block;
}
.user-login-main .find-main-zone .find-content > .input-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  padding-left: 20px;
  align-items: center;
}

.user-login-main .find-main-zone .find-content > .input-item > input {
  width: 80%;
  height: 40px;
  border: none;
}
.user-login-main .find-main-zone .find-content .input-title {
  width: 20%;
  font-size: 17px;
  line-height: 40px;
  height: 40px;
}
.user-login-main .find-main-zone .find-content .input-title > label {
  color: var(--font1);
  font-weight: 700;
}
.user-login-main .find-main-zone .find-content .input-item > button {
  font-size: 10px;
  padding: 0;
  width: 85px;
  height: 30px;
}
.user-login-main .find-main-zone .find-content .find-btn {
  text-align: center;
}
.user-login-main .find-main-zone .find-content .find-btn > button {
  width: 70%;
  height: 40px;
}
