div.mypage-main {
  width: 100%;
  height: 100%;
  padding: 50px;
  padding-left: 250px;
  background-color: #efefef;
}
/* 마이페이지 메인화면 */
div.mypage-main > section {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1200px;
  min-width: 930px;
}
/* 메인화면-프로필 */
div.mypage-main > .profile-wrap {
  background-color: #fff;
  display: flex;
  padding: 20px;
  margin-top: 20px;
}
div.mypage-main > .profile-wrap > div.img {
  border-radius: 50%;
  height: 163px;
  width: 163px;
  /* border: 1px solid var(--font1); */
  position: relative;
}
div.mypage-main > .profile-wrap > div.img > img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
div.mypage-main > .profile-wrap > div.img > label {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: -15px;
  cursor: pointer;
}
div.mypage-main > .profile-wrap > div.img > label > span {
  color: var(--main1);
}

div.mypage-main > .profile-wrap > .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
}

div.mypage-main > .profile-wrap > .user-info > h2 {
  font-size: 25px;
  color: var(--font1);
  font-weight: bold;
}
div.mypage-main > .profile-wrap > .user-info > h3 {
  font-size: 17px;
  color: var(--main1);
  font-weight: 700;
  margin: 7px 0;
}
div.mypage-main > .profile-wrap > .user-info > .user-info-other {
  display: flex;
  flex-direction: column;
}
div.mypage-main > .profile-wrap > .user-info > .user-info-other > span {
  font-size: 15px;
}
div.mypage-main > .profile-wrap > .user-page-info {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: auto;
  margin-right: 100px;
}
div.mypage-main > .profile-wrap > .user-page-info > .info-wrap {
  cursor: pointer;
}
div.mypage-main > .profile-wrap > .user-page-info h3.info-count {
  text-align: center;
  color: var(--font1);
  font-weight: bold;
  margin-top: 10px;
}
div.mypage-main > .profile-wrap > .user-page-info .info-title {
  color: var(--font1);
  position: relative;
  padding-left: 25px;
}
div.mypage-main > .profile-wrap > .user-page-info .info-title > span {
  position: absolute;
  left: 0;
  color: var(--main1);
}
/* 메인화면-리스트 목록 */
div.mypage-main > .mypage-list-wrap {
  position: relative;
}

div.mypage-main > .mypage-list-wrap > h3.title {
  color: var(--main1);
  font-size: 20px;
  font-weight: bold;
}

div.mypage-main > .mypage-list-wrap > a {
  position: absolute;
  right: 5px;
  color: var(--main1);
  text-decoration: none;
}

div.mypage-main > .mypage-list-wrap > .list-content {
  margin: 20px auto;
}
/* 메인화면-리스트목록-예약내역 */
div.mypage-main .reserve-content-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
div.mypage-main .reserve-content-wrap > .reserve-content {
  background-color: #fff;
  display: flex;
  padding: 20px;
  width: 33%;
}
div.mypage-main .reserve-content-wrap > .reserve-content > .reserve-img {
  width: 35%;
  aspect-ratio: 1/1.25;
  background-color: #efefef;
}

div.mypage-main .reserve-content-wrap > .reserve-content > .reserve-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  padding: 10px 0;
  justify-content: flex-end;
}

div.mypage-main .reserve-content-wrap > .reserve-content > .reserve-info > h4 {
  color: var(--font1);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: auto;
}
div.mypage-main
  .reserve-content-wrap
  > .reserve-content
  > .reserve-info
  > span {
  font-size: 13px;
}
div.mypage-main
  .reserve-content-wrap
  > .reserve-content
  > .reserve-info
  > span.d-day {
  background-color: var(--main1);
  color: #fff;
  padding: 0 5px;
  width: fit-content;
  text-align: center;
  margin-bottom: 10px;
}
/* 메인화면-리스트목록-즐겨찾기 */
div.mypage-main .favorite-list > .favorite-list-content-wrap {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
}

div.mypage-main
  .favorite-list
  > .favorite-list-content-wrap
  .favorite-list-content {
  border: 1px solid var(--font2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  padding: 10px;
  margin: 0 auto;
  height: 275px;
}

div.mypage-main
  .favorite-list
  > .favorite-list-content-wrap
  .favorite-list-content
  > .img {
  width: 80%;
  aspect-ratio: 1/1;
  background-color: #efefef;
  align-self: center;
  flex: 1;
  max-width: 200px;
}
div.mypage-main
  .favorite-list
  > .favorite-list-content-wrap
  .favorite-list-content
  > .title
  > h3 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 23px;
  color: var(--font1);
  font-weight: bold;
}
div.mypage-main
  .favorite-list
  > .favorite-list-content-wrap
  .favorite-list-content
  > .title
  > h3
  > span {
  font-weight: 500;
  font-size: 0.9em;
}
div.mypage-main
  .favorite-list
  > .favorite-list-content-wrap
  .favorite-list-content.empty {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
}

div.mypage-main
  .favorite-list
  > .favorite-list-content-wrap
  .favorite-list-content.empty
  > span {
  font-size: 40px;
  cursor: pointer;
}

div.mypage-main .slick-prev:before,
div.mypage-main .slick-next:before {
  color: var(--main1);
  font-size: 30px;
}
/* 메인화면-리스트목록-나의 리뷰 */
div.mypage-main .review-content-wrap > .review-list-content {
  background-color: #fff;
  display: flex;
  padding: 15px;
}
div.mypage-main .review-content-wrap > .review-list-content > .img {
  width: 90px;
  aspect-ratio: 1/1;
  background-color: #efefef;
  margin-right: 20px;
}
div.mypage-main .review-content-wrap > .review-list-content > .review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.mypage-main .review-content-wrap > .review-list-content h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--font1);
}
div.mypage-main .review-content-wrap > .review-list-content .star {
  display: flex;
  justify-content: flex-start;
  gap: 0;
}
div.mypage-main .review-content-wrap > .review-list-content .star > span {
  padding: 0;
  margin: 0;
  color: gold;
}
/* 존재하지 않을때 */
div.mypage-main div.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #d9d9d9;
}
div.mypage-main div.empty > p.text {
  padding: 10px;
  margin: 0;
}
