.allwrap {
  height: 100%;
  margin: 0;
  padding: 0;
}
.all-page-wrap {
  margin: 0;
  height: 100%;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#check-navi {
  display: none;
}

label #btn-navi {
  left: 40px;
  top: 10px;
  font-size: 35px;
  color: #399918;
  padding: 6px 12px;
  transition: all 0.5s;
  z-index: 1001;
  position: fixed;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
}
label #cancle-navi {
  z-index: 1111;
  left: -195px;
  top: 60px;
  font-size: 30px;
  padding: 4px 9px;
  transition: all 0.5s;
  position: fixed;
  cursor: pointer;
  background: transparent;
  color: #399918;
  border-radius: 3px;
}
/* active side bar */
.user-sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all 0.5s ease;
  margin-top: -24px;
  z-index: 1001;
}
.user-sidebar ul {
  list-style-type: none;
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
}
#check-navi:checked ~ .user-sidebar {
  left: 0;
}
#check-navi:checked ~ label #btn-navi {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check-navi:checked ~ label #cancle-navi {
  left: 250px;
}
#check-navi:checked ~ section {
  margin-left: 250px;
}
.user-sidebar .header-user img {
  border-radius: 50%;
  margin-top: 20px;
  width: 120px;
  height: 120px;
}
.user-sidebar .header-user {
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  background: #063146;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  margin-bottom: -17px;
}
.header-user p {
  color: #fff;
}
.user-sidebar ul a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #fff;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
}
.user-sidebar ul a i {
  margin-right: 16px;
  color: #fff;
}
/* hover effect */
.sidebar-user-page ul li:hover a {
  padding-left: 50px;
}
/* Social Links */
.user-social-links i {
  padding: 10px;
  margin-left: 16px;
  margin-top: 10px;
  color: #fff;
  background: transparent;
  font-size: 20px;
}
.user-social-links i:hover {
  background: #fff;
  color: #042331;
  border-radius: 30px;
}
.user-sidebar .header-user p {
  padding: 15px;
}
/* 로그아웃 버튼 스타일 */
.user-navi-logout-button {
  margin-top: auto; /* 사이드바 하단에 고정 */
  text-align: center; /* 가운데 정렬 */
  padding: 20px;
}

.user-navi-logout-button a {
  display: inline-block;
  background-color: #063146;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.user-navi-logout-button a i {
  margin-right: 8px;
  color: #fff;
}

.user-navi-logout-button a:hover {
  background-color: #fff;
  color: #544f4f;
}
.user-navi-logout-button a:hover i {
  color: #544f4f;
}
.user-navi-submenu {
  display: none;
  padding-left: 0;
  list-style-type: none;
  background-color: #042331;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.has-submenu.open .user-navi-submenu {
  display: block;
  max-height: 300px;
  opacity: 1;
  overflow-y: auto;
}

.user-navi-submenu li a {
  font-size: 13px;
  line-height: 2.5;
  color: #fff;
  display: block;
  padding: 5px 60px;
}
.user-navi-submenu li a:hover {
  padding-left: 90px;
}
.toggle-submenu {
  padding: 0 40px;
  transition: all 0.3s ease;
}

.has-submenu:hover .user-navi-submenu li a {
  padding-left: 70px;
}
.has-submenu:hover > .toggle-submenu {
  padding-left: 50px;
}

.has-submenu:hover .user-navi-submenu li a:hover {
  padding-left: 90px;
}

/* 헤더 */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #399918;
  padding: 10px 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #000;
  transition: background-color 0.3s ease;
  height: 7vh;
}
.page-header .logo-text {
  width: 300px;
  height: 30px;
  font-size: 2rem;
  margin-left: 200px;
  margin-top: -10px;
  font-family: "Gloria Hallelujah", cursive; /* 구글 폰트 적용 */
  color: #399918;
}

.page-header .search-bar {
  width: 35%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  margin-left: -400px;
}

.page-header .notification {
  font-size: 20px;
  margin-right: 40px;
  color: #fff;
}

/* 서치바 */
.header-search-form {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-form {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.search-form.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.page-header-input {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 4px solid #399918;
  border-radius: 50%;
  background: none;
  color: #399918;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.page-header-search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.page-header-search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #399918;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 20px;
  margin-left: 18px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: 4px;
  margin-left: -13px;
  background-color: #399918;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #399918;
  margin-top: 4px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  margin-top: 5px;
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 400px;
  height: 50px;
  border: 4px solid #399918;
  border-radius: 0;
  background: none;
  color: #399918;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.page-header-search:focus {
  outline: none; /* 포커스 시 나타나는 outline 제거 */
  border: none; /* 포커스 시 나타나는 border 제거 */
  box-shadow: none; /* 포커스 시 나타나는 shadow 제거 */
}

/* 메인배너 */

.swiper {
  width: 100%;
  height: 70vh;
  margin-top: -24px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.kenburns-top {
  animation: kenburns-top 5s ease-out both;
}

/* 애니메이션 정의 */
@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

/* 메뉴 섹션*/
.user-menu-wrapper {
  max-width: 35%;
  margin: 30px auto 60px; /* 중앙에 위치시키기 위해 자동 마진 */
  background-color: #fff;
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* 입체감 부여 */
  padding: 10px;
}

.user-menu-section {
  display: grid;
  grid-template-columns: repeat(5, 100px); /* 한 줄에 5개의 아이템 */
  justify-content: center; /* 전체 그리드를 중앙에 배치 */
  gap: 20px; /* 아이템 간의 간격 */
  margin-top: 20px;
  padding: 0 10px;
}

.user-menu-item {
  text-align: center;
  margin-bottom: -10px;
}

.user-menu-item img {
  width: 50px;
  height: auto;
  margin-bottom: 5px;
}

.user-menu-item p {
  margin-top: 2px;
  font-size: 12px;
  color: #333;
}

/* 음식 할인 섹션 스타일 */
.diningSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* 슬라이드의 높이를 자동으로 조정 */
  padding: 20px;
}

.diningSwiper {
  width: 100%; /* 전체 너비 */
  height: auto; /* 높이는 슬라이드 내용에 맞게 조정 */
  padding-bottom: 20px; /* 하단 여백 */
}

.diningSwiper .swiper-pagination {
  bottom: 10px; /* 페이지네이션 위치 조정 */
}
.diningSwiper .swiper-button-next,
.diningSwiper .swiper-button-prev {
  position: absolute;
  top: 40%; /* 버튼의 세로 위치를 40%로 설정 (상황에 따라 값을 조정) */
  width: 44px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  color: #000; /* 화살표 색상 */
  display: block; /* 화살표가 보이도록 설정 */
}
.diningSwiper .swiper-button-next {
  right: -10px; /* 오른쪽에서 10px 떨어지도록 설정 */
}
.dining-deal-section {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/* 헤더 스타일: <h2>와 <p> 태그 정렬 */
.dining-deal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.dining-deal-header h2 {
  font-size: 1.8rem;
  margin-bottom: 10px; /* h2 태그 아래에 간격 추가 */
  text-align: left;
}

.dining-deal-header p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  text-align: left;
}

/* 모두 보기 링크 위치 */
.dining-deal-header .view-all {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  align-self: flex-start;
}

/* 이미지와 정보의 수직 정렬 */
.dining-deal-content {
  display: flex;
  flex-direction: column; /* 이미지와 텍스트를 수평으로 나란히 배치 */
  align-items: flex-start; /* 이미지와 텍스트가 중앙에 정렬되도록 설정 */
  width: 100%; /* 전체 너비를 차지하도록 설정 */
  gap: 20px; /* 이미지와 텍스트 사이의 간격 */
  max-width: 1200px; /* 최대 너비 제한 */
  margin: 0 auto; /* 가운데 정렬 */
}

.dining-deal-content img {
  width: 50%; /* 이미지가 전체 너비를 차지 */
  height: auto; /* 이미지 비율 유지 */
  border-radius: 8px;
  margin-left: 20px;
}

.dining-deal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 10px;
  width: 70%; /* 텍스트가 컨텐츠의 70%를 차지하도록 설정 */
}

.dining-deal-info p {
  font-size: 1rem;
  color: #555;
  text-align: left;
  margin: 0;
}

.dining-deal-info h3 {
  font-size: 1.5rem;
  margin: 5px 0;
}

.dining-deal-info .original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.dining-deal-info .discount {
  color: red;
  font-weight: bold;
}

.dining-deal-info .price {
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}

/* 가격대별 BEST 섹션 스타일 */
.price-best-section {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.price-best-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.best-section-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.best-section-tabs .best-section-tab {
  outline: none; /* 파란 테두리 제거 */
  padding: 10px 50px;
  cursor: pointer;
}

.best-section-tabs .best-section-tab.active {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black; /* 활성화된 탭에만 하단 테두리 */
}
.best-section-tab {
  padding: 10px 20px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.best-section-tab.active {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.best-list {
  list-style: none;
  padding: 0;
}

.best-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.best-list img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 20px;
}

.restaurant-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.restaurant-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.rating {
  font-size: 0.85rem !important;
  color: #ff9900 !important;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 60px 5% 40px;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Flexbox의 wrap 속성을 사용하여 줄바꿈 허용 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  gap: 30px; /* 섹션 간의 간격을 좁게 설정 */
}

.footer-section {
  min-width: 150px; /* 각 섹션의 최소 너비 */
  flex: 0 1 auto; /* 너비를 고정하고 요소가 줄어들지 않도록 함 */
}

.social-media {
  flex: 1 1 auto; /* 로고와 소셜 미디어 링크의 공간 확보 */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
}
.footer-section.social-media {
  display: flex;
  flex-direction: column; /* Vertical stacking of logo and social links */
  align-items: flex-start; /* Align items to the start (left) */
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 50px; /* 로고 크기 줄이기 */
  margin-right: 10px; /* 텍스트와의 간격 조정 */
}

.footer-logo-text {
  font-size: 16px;
  font-weight: bold;
  padding-top: 0.5rem;
  color: #fff;
}
.social-media {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row; /* 가로 방향으로 나열 */
  align-items: center; /* 세로 정렬 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  padding-left: 20px; /* 적절한 왼쪽 패딩 추가 */
}

.social-link {
  display: flex;
  flex-direction: column; /* 세로 방향으로 나열 */
  gap: 10px;
}
.social-link li {
  display: flex; /* Flexbox 적용 */
  align-items: center; /* 아이콘과 텍스트를 수직으로 정렬 */
}
.social-link a {
  display: flex; /* 아이콘과 텍스트가 함께 정렬되도록 */
  align-items: center;
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
  padding-left: 1.5rem;
}
.social-link img {
  width: 1rem; /* 상대적 단위 사용 */
  margin-right: 0.625rem;
}
.footer-section h4 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-divider {
  width: 100%; /* 전체 너비 */
  border-top: 1px solid #444;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  color: #ccc;
  font-size: 12px;
  margin-top: 20px;
}

.legal-text {
  flex: 1 1 50%;
}

.footer-legal p {
  margin: 5px 0;
  line-height: 1.5;
  color: #fff;
}

.language-selection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.language-selection select {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 5px;
  border-radius: 3px;
}

.language-selection select:focus {
  outline: none;
}
/* 스크롤 내리면 바뀌는 로직 */

.scrolled-header {
  background-color: #fff;
  transition: all 0.3s ease;
}

.scrolled-logo-text {
  color: #399918;
  transition: all 0.3s ease;
}

.scrolled-bars:before,
.scrolled-times:before {
  color: #399918;
  transition: all 0.3s ease;
}

.scrolled-input {
  border-color: #399918;
  transition: all 0.3s ease;
}
.scrolled-button:before {
  transition: all 0.3s ease;
  background: #399918;
}
.scrolled-button:after {
  transition: all 0.3s ease;
  background: #399918;
}
.scrolled.page-header-search:before {
  background-color: #399918; /* 스크롤 후의 색상 */
  transition: all 0.3s ease;
}
/* 벨 */
.user-box-bell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-page-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 150px;
}
.bellWrapper {
  font-size: 25px;
  color: #ff686b;
}

.my-bell {
  transform-origin: top;
  animation: bell 2s infinite linear;
  color: #ff686b;
}

@keyframes bell {
  0%,
  50% {
    transform: rotate(0deg);
  }
  5%,
  15%,
  25%,
  35%,
  45% {
    transform: rotate(13deg);
  }
  10%,
  20%,
  30%,
  40% {
    transform: rotate(-13deg);
  }
}
.circle {
  width: 5px;
  height: 4px;
  position: absolute;
  border: 2px solid white;
  border-radius: 70%;
  border-color: transparent #ff686b;
  animation: ring 2s infinite linear both;
}
.second {
  animation-delay: 0.3s;
}

.third {
  animation-delay: 0.7s;
}

@keyframes ring {
  0%,
  100% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  50% {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}
